body {
  padding-top: 5px;
  background-image: url("../w3w.jpg");
  background-size: cover;
}

a {

    position: relative;
  left: 1226px;
  text-align: right;
  top: 739px;
  color: #ffffff;
  text-decoration: none;
font-family: 'copperplate';
font-size: 14px;
}