#map-canvas{
  width:100%; 
  height:450px;
}

.ib {
  display: inline-block;
}
.hidden{
  display: none;
}


#words_zone {
  /*text-align: center;*/
  /*margin: 0 auto;*/
  /*width: 200px;*/
};

#answer_validity {
  text-align: center !important;
}
