#map-canvas{
  width:100%; 
  height:450px;
}

.ib {
  display: inline-block;
}
.hidden{
  display: none;
}


#words_zone {
  /*margin: 0 auto;*/
  /*width: 200px;*/
};

#answer_validity {
  text-align: center;
}
